<template>
  <div>
    <div>
      <title>Curriculum Vitae</title>
    </div>
    <div>
      <v-carousel hide-delimiter-background show-arrows-on-hover>
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
          reverse-transition="fade-transition"
          transition="fade-transition"
        ></v-carousel-item>
      </v-carousel>
    </div>

    <div>
      <v-alert icon="mdi-cards-variant" elevation="3" class="text-center" text type="success">
        <h3>SKILL</h3>
      </v-alert>
    </div>

    <div>
      <div class="col-md-12">
        <v-container fluid fill-height>
          <v-layout>
            <v-flex xs12 md12>
              <v-card class="mx-auto" max-width="370">
                <center>
                  <v-img src="@/assets/img/php-1.png"></v-img>
                </center>
                <v-card-title>Backend Developer</v-card-title>
                <v-card-subtitle>Using PHP Codeigniter</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-layout>

          <v-layout>
            <v-flex xs12 md12>
              <v-card class="mx-auto" max-width="370">
                <v-img src="@/assets/img/db-2.jpg" height="190px"></v-img>
                <v-card-title>Database</v-card-title>
                <v-card-subtitle>Mysql, PostgreSQL</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>

    <div>
      <v-alert icon="mdi-tooltip-edit" elevation="3" class="text-center" text type="success">
        <h3>PROJECTS</h3>
      </v-alert>
    </div>

    <div>
      <div class="col-md-12">
        <v-container fluid fill-height>
          <v-layout>
            <v-flex xs12 md12>
              <v-card class="mx-auto" max-width="370">
                <v-img src="@/assets/img/p1-1.png" height="300px"></v-img>
                <v-card-title>Zerone, Pati</v-card-title>
                <v-card-subtitle>Sistem Pendataan OrderOnline</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-layout>

          <v-layout>
            <v-flex xs12 md12>
              <v-card class="mx-auto" max-width="370">
                <v-img src="@/assets/img/p1-1.png" height="300px"></v-img>
                <v-card-title>Dk. Bakalan, Kudus, Jawa Tengah</v-card-title>
                <v-card-subtitle>Sistem Pendataan Penerima Daging Qurban</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12 md12>
              <v-card class="mx-auto" max-width="370">
                <v-img src="@/assets/img/p1-1.png" height="300px"></v-img>
                <v-card-title>MA Ma'ahid, Kudus</v-card-title>
                <v-card-subtitle>Sistem Monitoring Pelanggaran Siswa</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <div>
      <v-alert icon="mdi-account" elevation="3" class="text-center" text type="success">
        <h3>PROFILE</h3>
      </v-alert>
    </div>
    <div>
      <v-container class="text-center">
        <v-responsive class="mx-auto mb-8" width="56">
          <v-divider class="mb-1"></v-divider>

          <v-divider></v-divider>
        </v-responsive>

        <v-responsive
          class="mx-auto title font-weight-light mb-8"
          max-width="720"
        >Hello, My Name is Fajar. I'm from Indonesia, I'm a backend developer. I'm using Codeiginiter why use codeigniter ? because codeigniter is easy</v-responsive>

        <v-avatar class="elevation-12 mb-12" size="128">
          <v-img src="@/assets/img/me.jpg"></v-img>
        </v-avatar>

        <div></div>
      </v-container>
    </div>
    <div>
      <v-alert icon="mdi-account" elevation="3" class="text-center" text type="success">
        <h3>CONTACT</h3>
      </v-alert>
    </div>
    <section>
      <div
        class="pa-3 v-card v-card--flat v-sheet v-sheet--tile theme--light"
        color="Honeydew"
        style="background-color: Honeydew; border-color: Honeydew;"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-12">
              <h2 class="subheading text-uppercase font-weight-medium mb-3">Contact</h2>
              <div role="list" class="v-list transparent v-sheet v-sheet--tile theme--light">
                <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                  <div
                    class="v-avatar v-list-item__avatar primary"
                    style="height: 40px; min-width: 40px; width: 40px;"
                  >
                    <i
                      aria-hidden="true"
                      class="v-icon notranslate elevation-4 mdi mdi-email-outline theme--dark"
                    ></i>
                  </div>
                  <div class="v-list-item__title">EMAIL</div>
                  <div class="v-list-item__subtitle">
                    <h3>anisfajar.kudus@gmail.com</h3>
                  </div>
                </div>

                <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                  <div
                    class="v-avatar v-list-item__avatar primary"
                    style="height: 40px; min-width: 40px; width: 80px;"
                  >
                    <i
                      aria-hidden="true"
                      class="v-icon notranslate elevation-4 mdi mdi-map-marker theme--dark"
                    ></i>
                  </div>
                  <div class="v-list-item__title">ADDRESS</div>
                  <div class="v-list-item__subtitle">
                    <h3>Ds. Bakalan Krapyak RT 05 RW 01 Kaliwungu, Kudus</h3>
                  </div>
                </div>

                <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                  <div
                    class="v-avatar v-list-item__avatar primary"
                    style="height: 40px; min-width: 40px; width: 80px;"
                  >
                    <i
                      aria-hidden="true"
                      class="v-icon notranslate elevation-4 mdi mdi-map theme--dark"
                    ></i>
                  </div>
                  <div class="v-list-item__title">PROVINCE</div>
                  <div class="v-list-item__subtitle">
                    <h3>Jawa Tengah</h3>
                  </div>
                </div>
                <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                  <div
                    class="v-avatar v-list-item__avatar primary"
                    style="height: 40px; min-width: 40px; width: 80px;"
                  >
                    <i
                      aria-hidden="true"
                      class="v-icon notranslate elevation-4 mdi mdi-flag-outline theme--dark"
                    ></i>
                  </div>
                  <div class="v-list-item__title">COUNTRY</div>
                  <div class="v-list-item__subtitle">
                    <h3>Indonesia</h3>
                  </div>
                </div>
                <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                  <div
                    class="v-avatar v-list-item__avatar primary"
                    style="height: 40px; min-width: 40px; width: 80px;"
                  >
                    <i
                      aria-hidden="true"
                      class="v-icon notranslate elevation-4 mdi mdi-cellphone-android theme--dark"
                    ></i>
                  </div>
                  <div class="v-list-item__title">PHONE</div>
                  <div class="v-list-item__subtitle">
                    <h3>0857-2710-9286</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="v-footer py-0 v-sheet v-sheet--tile theme--dark">
      <div class="container mx-auto">
        <div class="row">
          <div class="col col-9">
            <a
              href="https://gitlab.com/anisfajar/"
              target="_new"
              class="ml-0 mr-3 v-btn v-btn--contained v-btn--fab v-btn--round theme--dark v-size--small primary"
              color="primary"
              style="border-radius: 25px;"
            >
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate mdi mdi-git theme--dark"></i>
              </span>
            </a>
            <a
              href="https://www.linkedin.com/in/anis-fajar-prakoso-42aa22133"
              target="_new"
              class="ml-0 mr-3 v-btn v-btn--contained v-btn--fab v-btn--round theme--dark v-size--small primary"
              color="primary"
              style="border-radius: 25px;"
            >
              <span class="v-btn__content">
                <i aria-hidden="true" class="v-icon notranslate mdi mdi-linkedin theme--dark"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      items: [
        {
          src: require("@/assets/img/cyber-scurity.jpg")
        },
        {
          src: require("@/assets/img/design grafis.jpg")
        },
        {
          src: require("@/assets/img/wal.jpg")
        },
        {
          src: require("@/assets/img/webdev.jpg")
        }
      ]
    };
  }
};
</script>