<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="container mx-auto py-0">
        <!-- <div class="row align-center">
          <a
            href="#"
            class="hidden-sm-and-down v-btn v-btn--flat v-btn--text theme--light v-size--default"
          >
            <span class="v-btn__content" style="color:white">About</span>
          </a>
        </div>-->
      </div>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/img/logoicon.png"
          transition="scale-transition"
          width="160"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Landing />
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import Landing from "./components/Landing";

export default {
  name: "App",

  components: {
    Landing
  },

  data: () => ({
    //
  })
};
</script>
